body {font-family:sans-serif;text-size-adjust:none}
p {margin:0px;text-indent:23px;line-height:135%}
h1, h2, h3, h4, h5, h6 {margin-top:2.5px;margin-bottom:2.5px}
ul, ol {margin-top:2.5px;margin-bottom:2.5px;line-height:135%}
hr {border:1px solid black}

table {border-collapse:collapse;margin-top:3px;margin-bottom:3px}
td,th {border:1px solid black;padding:3px}
[class=vat] td {vertical-align:top}

fieldset,legend {border:1px solid black;border-radius:3px}
fieldset {margin-top:5px;margin-bottom:5px}
fieldset:not(:has(> legend)) {padding-top:10px}

summary {list-style-type:'[+]';font-family:monospace}
details[open] summary {list-style-type:'[-]';font-family:monospace}

hc {display:block;text-align:center;font-size:200%;font-weight:bold}
hc2 {display:block;text-align:center;font-size:140%;font-weight:bold}
tac {display:block;text-align:center}
tar {display:block;text-align:right}
.tac {text-align:center}
.tar {text-align:right}

wspl {display:block;white-space:pre-line}
.wspl {white-space:pre-line}
.w100 {width:100%}
.vat {vertical-align:top}

gb1 {padding-left:2px;padding-right:2px;border-radius:3px;white-space:nowrap;background-color:#1F883D;border:1px solid #1F793A;color:white}
gb2 {padding-left:2px;padding-right:2px;border-radius:3px;white-space:nowrap;background-color:#F6F8FA;border:1px solid #D1D9E0}
.ii {vertical-align:middle} /* bottom , text-bottom */
toc {display:block;background-color:#FFD700;border:1.5px solid black;padding:7px;border-radius:5px;margin:5px;font-weight:500}

/*
tab {padding-left:3px;padding-right:3px;user-select:all;background-color:#000000;color:#FFFFFF;border-radius:3px;white-space:pre;display:block;overflow:scroll}
tai {padding-left:3px;padding-right:3px;user-select:all;background-color:#000000;color:#FFFFFF;border-radius:3px;white-space:pre;display:inline}
.bu {display:block;user-select:none;background-color:#CFAD80;padding:5px;margin:5px;border-radius:5px;text-decoration:none;color:black;cursor:pointer;font-family:Cherry Swash,NAMU}
.ii {height:2ex;vertical-align:middle}
toc {display:block;border:1px solid black;padding-left:7px;padding-right:7px;padding-bottom:3px}
[class=bsh] td {border-style:hidden}

@font-face {
font-family:Cherry Swash;
src:url('/directories/files/fonts/CherrySwash-Regular.ttf');
unicode-range:U+41-7a;
}
@font-face {
font-family:NAMU;
src:url('/directories/files/fonts/NAMU-1750.ttf');
unicode-range:U+0410-044F,U+0401,U+0451;
}

body,chem .katex {font-family:Cherry Swash,PT Mono,NAMU,Source Sans Pro,Noto Emoji,"M PLUS 1p",Noto Sans Japanese,Inter}
body {word-break:break-word}
.in {font-family:Inter}
.ar {font-family:Arial}
gr,.gr,chem .katex {font-family:Zen Kurenaido}
h6 {font-size:100%}
h5 {font-size:120%}
h4 {font-size:140%}
h3 {font-size:160%}
h2 {font-size:180%}
cf {display:block;border:1px solid black;background-color:#FAEBD7;padding:7px}
.il {list-style-type:decimal;display:list-item;margin-left:40px}
.cs {font-family:Church Slavonic}
ab {text-indent:10%;display:inline-block}
.tac,[class=tac] td {text-align:center}
.bi {background-repeat:no-repeat;background-size:100%}
table[class=tac] ol,ul {text-align:left}
table {border-collapse:collapse;display:block;overflow:scroll}
td {white-space:nowrap;border:1px solid black}
th {white-space:nowrap;background-color:#F7EBDB;text-align:center;font-weight:normal;border:1px solid black}
[class=wsn] td {white-space:normal}
nw {white-space:nowrap}
:target {background-color:#DDEEFF}
a {text-underline-position:under}
ol,ul {padding-right:20px}
min {vertical-align:super;font-size:70%;text-decoration-line:underline}
qi::before {content:url('/directories/files/images/svg/quote.svg')}
qi::after {content:url('/directories/files/images/svg/quote.svg')}
qb::before {content:url('/directories/files/images/svg/quote.svg')}
qb::after {content:url('/directories/files/images/svg/quote.svg')}
qb {display:block;text-align:center;padding:20px}
.er::after {vertical-align:top;display:inline-block;content:url('/directories/files/images/svg/external_reference.svg')}
.ww::after {vertical-align:top;display:inline-block;content:url('/directories/files/images/svg/Wikipedia_W.svg')}
bf {display:inline-block;border:1px solid black}
bfb {display:block;border:1px solid black}
rf {display:inline-block;border:1px solid red;padding:1px}
rfb {display:block;border:1px solid red}
bo,.bo {font-weight:bold}
it,.it {font-style:italic}
un,.un {text-decoration-line:underline;text-underline-position:under}
lt,.lt {text-decoration-line:line-through}
ov,.ov {text-decoration-line:overline}
subs {vertical-align:sub;font-size:70%}
sups {vertical-align:super;font-size:70%}
.f200 {font-size:200%}
kn {font-kerning:none}
deg90 {transform:rotate(90deg);display:inline-block}
deg180 {transform:rotate(180deg);display:inline-block}
deg270 {transform:rotate(270deg);display:inline-block}
mi {transform:scaleX(-1);display:inline-block}
.vat,[class=vat] td {vertical-align:top}
.fn {white-space:nowrap;vertical-align:super;text-decoration:none;user-select:none;font-weight:normal}

.mn,ul[class=mn] li {list-style-type:none}
.md,ul[class=md] li,.md2 ul li {list-style-type:disc}
.check,ul[class=check] li {list-style-type:"✓ "}
.cross,ul[class=cross] li {list-style-type:"✕ "}
.bb,ul[class=bb] li {list-style-type:"☐ "}
.bbc,ul[class=bbc] li {list-style-type:"☑ "}
.bbx,ul[class=bbx] li {list-style-type:"☒ "}
.cl,ul[class=cl] li {list-style-type:"\1f12f"}

@counter-style number_dot {system:fixed;symbols:⒈ ⒉ ⒊ ⒋ ⒌ ⒍ ⒎ ⒏ ⒐ ⒑ ⒒ ⒓ ⒔ ⒕ ⒖ ⒗ ⒘ ⒙ ⒚ ⒛;suffix:" "}
.number_dot {list-style-type:number_dot}
@counter-style number_circled {system:fixed;symbols:① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ㉑ ㉒ ㉓ ㉔ ㉕ ㉖ ㉗ ㉘ ㉙ ㉚ ㉛ ㉜ ㉝ ㉞ ㉟ ㊱ ㊲ ㊳ ㊴ ㊵ ㊶ ㊷ ㊸ ㊹ ㊺ ㊻ ㊼ ㊽ ㊾ ㊿;suffix:" "}
.number_circled {list-style-type:number_circled}
@counter-style number_parenthesis {system:fixed;symbols:"1";suffix:") "}
.number_parenthesis {list-style-type:number_parenthesis}
@counter-style cyrillic_parenthesis {system:alphabetic;symbols:а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я;suffix:") "}
.cyrillic_parenthesis {list-style-type:cyrillic_parenthesis}
@counter-style cyrillic_dot {system:alphabetic;symbols:а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я;suffix:". "}
.cyrillic_dot {list-style-type:cyrillic_dot}
.ma ::marker {content:counters(list-item,'.')' '}
.ma li {list-style-position:inside}

@font-face {
font-family:PT Mono;
src:url('/directories/files/fonts/PTMono-Regular.ttf');
unicode-range:U+30-39,U+FB01;
}
@font-face {
font-family:Zen Kurenaido;
src:url('/directories/files/fonts/ZenKurenaido.ttf');
unicode-range:U+391-3a1,U+3a3-3a9,U+3b1-3c9;
}
@font-face {
font-family:Source Sans Pro;
src:url('/directories/files/fonts/SourceSansPro.ttf');
unicode-range:U+bd,U+2153,U+bc,U+2155,U+2159,U+2150,U+215b,U+2151,U+2152,U+2154,U+2156,U+be,U+2157,U+215c,U+2158,U+215a,U+215d,U+215e,U+2044,U+2189,U+7c,U+a6,U+2016;
}
@font-face {
font-family:Inter;
src:url('/directories/files/fonts/Inter.ttf');
}
@font-face {
font-family:"M PLUS 1p";
src:url('/directories/files/fonts/MPLUS1p.ttf');
unicode-range:U+2640,U+2642,U+203e,U+230a,U+2308,U+230b,U+2309,U+5350,U+534d,U+2217,U+2020,U+2302,U+2423,U+21b2,U+21c5,U+21c4,U+21d2,U+21e4,U+21e5,U+21c8,U+21ca,U+2220,U+221a,U+221b,U+221c,U+2300,U+b1,U+2213,U+214b,U+2610-2612,U+2715,U+24ea,U+2460-2473,U+3251-325f,U+32b1-32bf;
size-adjust:100.9%;
}
@font-face {
font-family:Noto Emoji;
src:url('/directories/files/fonts/NotoEmoji.ttf');
unicode-range:U+1fa99,U+1f48e,U+1f381,U+1f4a3,U+1f947,U+1f948,U+1f949,U+2734,U+2139,U+2b05,U+2b06,U+2b07,U+27a1,U+271d,U+2626,U+1FAC0;
}
@font-face {
font-family:Noto Sans Japanese;
src:url('/directories/files/fonts/NotoSansJP.otf');
unicode-range:U+2660-2667,U+2042,U+2295,U+2488-249b,U+24d8;
}
@font-face {
font-family:Church Slavonic;
src:url('https://azbyka.ru/biblia/assets/fonts/PonomarUnicode.ttf');
}
*/
